<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iams.mapper.UserMapper">
    <select id="selectUser" resultType="com.iams.vo.UserVO">
        select
        a.id,
        a.account,
        a.password,
        a.name,
        a.role_id,
        a.status_id,
        a.create_time,
        a.update_time,
        a.create_user,
        a.update_user,
        b.name as create_user_name,
        c.name as update_user_name,
        d.name as status_name,
        e.name as role_name
        from tb_user as a
        left join tb_user as b on a.create_user = b.id
        left join tb_user as c on a.update_user = c.id
        left join tb_user_status as d on a.status_id = d.id
        left join tb_role as e on a.role_id = e.id
        where 1=1
        <if test="param.id != null">
            and a.id = #{param.id}
        </if>

        <if test="param.account != null and param.account != ''">
            and a.account = #{param.account}
        </if>

        <if test="param.createTimeMin != null">
            and a.create_time >= #{param.createTimeMin}
        </if>

        <if test="param.createTimeMax != null">
            and #{param.createTimeMax} >= a.create_time
        </if>

        <if test="param.updateTimeMin != null">
            and a.update_time >= #{param.updateTimeMin}
        </if>

        <if test="param.updateTimeMax != null">
            and #{param.updateTimeMax} >= a.update_time
        </if>
    </select>
</mapper>